<div class="center box1">
  <h1><%= @user.username %></h1>
  <p>first_name: <%= @user.first_name %></p>
  <p>last_name: <%= @user.last_name %></p>
  <p>username: <%= @user.first_name %></p>
  <p>id: <%= @user.id %></p>
  <hr>
  <p>description: <%= @description %></p>
  <p>website: <%= @user.website %></p>
  <p>email: <%= @user.email %></p>
</div>
