<h1><%= @game.title %></h1>

<h3>Description</h3>
<div><%= @description %></div>

<h3>Screenshots (<%= @game.game_screenshots.count %>)</h3>
<div>
  <% @screenshot_urls.each do |screenshot_url| %>
    <%= image_tag(screenshot_url) %>
  <% end %>
</div>

<h3>Releases (<%= @releases.count %>)</h3>
<div>
  <% @releases.each do |release| %>
    <h4><%= release.version_num %></h4>
    <ul>
    <% release.game_files.each do |game_file| %>
      <li><%= link_to(game_file.category, game_file.file.url) %></li>
    <% end %>
    </ul>
  <% end %>
</div>
