<nav>
  <ul>
    <li>
      <a href="/"><%= image_tag("allegro_planet_logo-01c.png", width: '80px') %><%= image_tag("allegro-planet-text-logo.svg", width: "300px") %></a>
    </li>

    <li><a href="/articles">Articles</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/users">Users</a></li>
    <% if current_user %>
      <li><a href="/dashboard"><%= current_user.username %></a></li>
    <% else %>
      <li><a href="<%= new_login_path %>">Log In</a></li>
      <li><a href="<%= signup_path %>">Sign Up</a></li>
    <% end %>
  </ul>
</nav>
